html {
	scroll-behavior: smooth;
}

body {
	margin: 0 auto;
	font-family: "Poppins", sans-serif ;
}


h2 {
	text-align: center;
	font-weight: bold;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}

input {
	outline: none;
}

.navbar{
	background-color: #1B1B1B;
	padding: 30px 20px !important;

}

.nav-item-right{
	justify-content: flex-end;
}
/*  section header*/

nav a {
	text-decoration: none;
	letter-spacing: 4px;
	font-size: 15px;
	margin: 0 10px;
	color: #fff;
}

.parallax{
	width: 100%;
	height: 100%;
	background: url("img/acceuil-bg\ .jpg");
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
	  background-size: cover;
}
/*Fin  section header*/

/*Section À propos */
.content-area {
	background: #FFFFFF;
}

.content-area p {
	padding: 2% 0px;
	line-height: 30px;
	margin: 0;
}

/* Fin Section À propos */


/* Section Vendre */
.vendre_container {
	background-color: #cfcfcf;
}

.form-estimation {
	margin: auto;
	background-color: white;
	width: 40%;
	box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
	padding: 20px;
	height: 110%;
}

/* Fin Section Vendre */


/* section contact */
.contact_container {
	background-color: #FFFFFF;
}

/* aligne les box horizontalement avec le même ecart*/
.info-wrapper {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.contact-box {
	text-align: center;
	width: 230px;
	height: 230px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}

.contact-icon {
	margin: 0 auto;
	font-size: 22px;
	border-radius: 50%;
	padding: 8px;
	border: 2px dotted;
	width: 14%;
}

.form-container {
	background-color: white;
	width: 40%;
	box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
	padding: 20px;
	height: 100%;
}
.form-item {
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
}

.form-item input {
	padding: 12px;
	width: 47%;
}

.form-container textarea {
	width: 100%;
	padding-left: 12px;
	font-size: 15px;
}

.button-container {
	margin-top: 20px;
	height: 34px;
	width: 197px;
	background-color: white;
}

.btn {
	display: flex;
	justify-content: center;
}

/* On montre le premier texte */
.img-btn {
	display: block;
}
/* On cache le second texte */
.text-button {
	display: none;
}

/* On fait disparaitre le premier texte au passage de la souris. */
.button:hover .img-btn {
	display: none;
}
/* On fait apparaitre le second texte au passage de la souris. */
.button:hover .text-button {
	display: block;
	text-transform: uppercase;
}

/* fin style section contact */
.form-wrapper {
	display: flex;
	justify-content: space-between;
	width: 83%;
	margin: 20px auto;
}

/* Footer */

.footer {
	display: flex;
	justify-content: space-around;
	background-color: #1B1B1B;
    color: #ffffff;
	font-size: 15px;
	padding-top: 15px;
}

.footer li {
	list-style: none;
	margin-bottom: 10px;
}

footer li ::before {
	content: "\ea1d";
}

footer ul {
	padding-left: 0;
	display: flex;
	flex-direction: column;
}

.footer-email {
	width: 60%;
	padding: 12px 8px;
	border: 1px solid;
	border-radius: 2px 0;
}

.footer-btn{
	text-transform: uppercase;
    background-color: #ffffff;
    font-size: 20px;
    color: black;
    padding: 8px 20px;
    border: none;
    text-align: center;
    border-color: white;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}
.footer-btn:hover {
  background-color: #555555;
  color: white;
}
.fa-chevron-right {
	font-size: 14px;
}



/* Page Acheter */
.achat-container{
	width: 100%;
	background: url("img/acceuil-bg\ .jpg");
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px 0;
	}

.achat-items{
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	justify-content: center;
}
.achat-img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.item-content{
	padding-left: 15px;
	display: flex;
    flex-direction: column;
	align-items: center;
	display: none;
	
}

.item-content p{
	text-align: center;
}

.item-content, .item-table {
	color: white;
}

.fa-bed,.fa-home,.fa-lightbulb{
	font-size: 36px;

}

.item-table td{
	font-size:14px;

}

.item-table{
	margin-top: 18px;
}

