html {
	scroll-behavior: smooth;
}

body {
	margin: 0 auto;
	font-family: "Poppins", sans-serif  !important;
}


h2 {
	text-align: center;
	padding: 30px 0;
	font-weight: 600 !important;
	font-size: 35px !important;
	margin: 0;
	letter-spacing: 2px;
}

input {
	outline: none;
}

li{
	list-style: none!important;
}

.navbar{
	background-color: #1B1B1B;
	padding: 30px 20px !important;

}

.nav-item-right{
	justify-content: flex-end;
}
/*  section header*/

nav a {
	text-decoration: none;
	letter-spacing: 4px;
	font-size: 15px;
	margin: 0 10px;
	color: #fff;
}

.parallax{
	width: 100%;
	height: 100%;
	background: url("img/acceuil-bg\ .jpg");
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
	  background-size: cover;
}
.parallax-small{
	height: 65%;
}
/*Fin  section header*/
.welcome{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.welcome-container{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-container h1{
	margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

.welcome-container h2{
	color: #fff;
	font-size:17px;
	margin-bottom: 50px;
}

.welcome-container a{
	font-size: 17px;
	text-decoration: none;
	padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #8fc04e;
	color: #fff;
	transition-duration: 0.4s;
  	cursor: pointer;
}

.welcome-container a:hover {
  background-color: #8fc04e;
  color: white;
}

/*Section À propos */
.wrapper{
	width: 80%;
}
.content-area {
	background: #FFFFFF;
	display: flex;
    justify-content: center;
    text-align: center;
}

.content-area p {
	padding: 2% 0px;
	line-height: 30px;
	margin: 0;
}

/* Fin Section À propos */


/* Section Vendre */


.form-estimation {
	margin: auto;
	background-color: white;
	width: 40%;
	box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
	padding: 20px;
	height: 110%;
}

.estimation-btn{
	width: 50%;
    margin: 0 auto;
	text-transform: uppercase;
    font-size: 20px;
    padding: 8px 20px;
	text-align: center;    
	font-weight: bold;
	border-radius: 20px;
	background-color: #8fc04e;
	border: none;
	transition-duration: 0.4s;
	cursor: pointer;
	color: white;
}
.estimation-btn:hover,.btn-continuer:hover {
  background-color: #32620E;
}

.btn-continuer{
	display: block;
	margin: 15px auto;
	font-size: 15px;
    text-transform: uppercase;
    padding: 6px 15px;
    border-radius: 20px;
	font-weight: bold;
	background-color: #8fc04e;
	color: white;
	border: none;


}
.container-vendre{
	background-image: url(img/map-bg.jpg); 
    transform: translate(0px, -0.802px);
	padding: 70px 0;
}

.estimation-container{
	width: 50%;
	margin: 20px auto;

}

.estimation-container h4{
	color:white;
	text-align: center;
}
.adresse{
	display: flex;
    flex-direction: column;
    margin-top: 20px;
}
input[type="checkbox" i] {
appearance: none;
}


#recapitulatif {
	color: red;
	color:white;
	text-align: center;

}
.adresse input{
	padding: 8px;
	width: 70%;
    margin: 20px auto;
}

.estimation-style{
	display: none;
	margin-top: 20px;
    text-align: center;
}

.type h4{
	padding-bottom: 20px;
	font-weight: 600;
}

.flex-btn{
	display: flex;
    justify-content: space-evenly;
}

.caveS{
	display: none;
}

.btn-type{
	align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid #8fc04e;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
    display: flex;
    font-size: 16px;
    height: 130px;
    justify-content: center;
    padding: 15px;
    text-align: center;
    width: 130px;
	outline: none;
    margin-right: 20px;
	margin-bottom: 20px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.btn-type:hover{
	background-color:#8fc04e;
}





/* Fin Section Vendre */




/* section contact */
.contact_container {
	background-color: #FFFFFF;
}

/* aligne les box horizontalement avec le même ecart*/
.info-wrapper {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.contact-box {
	text-align: center;
	width: 230px;
	height: 230px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.contact-box:hover{
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
	font-weight: bold;
}

.contact-box span{
	font-size:13px;
}

.contact-box p{
	font-size: 21.03px;
}

.contact-icon {
	margin: 0 auto;
    font-size: 14px;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted;
	width: 14%;
	margin-bottom: 18px;
}

.form-container {
	background-color: white;
	width: 50%;
	box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
	padding: 20px;
	height: 100%;
}
.form-container textarea {
	width: 98%;
	padding-left: 12px;
	font-size: 15px;
}

.form-container form{
	display: flex;
	flex-direction: column;
}

.form-item {
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
}

.form-item input {
	padding: 12px;
	width: 47%;
}



.form-btn{
	text-transform: uppercase;
    background-color: #1B1B1B;
    font-size: 20px;
    color: white;
	padding: 8px 20px;
	width: 98%;
    border: none;
    text-align: center;
    border-color: #1B1B1B;
    font-weight: bold;
    transition-duration: 0.4s;
	cursor: pointer;
	margin-top:20px;
}

.form-btn:hover{
	background-color:white;
  	color: #1B1B1B;
}

/* fin style section contact */
.form-wrapper {
	display: flex;
	justify-content: space-between;
	width: 83%;
	margin: 43px auto;
}

/* Footer */

.footer {
	display: flex;
	justify-content: space-around;
	background-color: #1B1B1B;
    color: #ffffff;
	font-size: 15px;
	padding-top: 27px;
}

.footer li {
	list-style: none;
	margin-bottom: 10px;
}

footer ul {
	padding-left: 0;
	display: flex;
	flex-direction: column;
}

.footer-contact span{
	font-weight: bold;
}

.footer-email {
	width: 60%;
	padding: 12px 8px;
	border: 1px solid;
	border-radius: 2px 0;
}

.footer-btn{
	text-transform: uppercase;
    background-color: #ffffff;
    font-size: 20px;
    color: black;
    padding: 8px 20px;
    border: none;
    text-align: center;
    border-color: white;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}
.footer-btn:hover {
  background-color: #555555;
  color: white;
}
.fa-chevron-right {
	font-size: 14px;
}



/* Page Acheter */
.achat-container{
	width: 100%;
	background: url("img/acceuil-bg\ .jpg");
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px 0;
	}

.achat-items{
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	justify-content: center;
}
.achat-img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.item-content{
	padding-left: 15px;
	display: flex;
    flex-direction: column;
	align-items: center;
	display: none;
	
}

.item-content p{
	text-align: center;
}

.item-content, .item-table {
	color: white;
}

.fa-bed,.fa-home,.fa-lightbulb{
	font-size: 36px;

}

.item-table td{
	font-size:14px;

}

.item-table{
	margin-top: 18px;
}

.btn-acheter{
	width: 32%;
	text-transform: uppercase;
    font-size: 17px;
    padding: 8px 20px;
	font-weight: bold;
	border-radius: 20px;
	background-color: white;
	border: none;
	transition-duration: 0.4s;
	cursor: pointer;
	color: #1B1B1B;
	margin-top: 30px;

}

.btn-acheter:hover{
	background-color: #1B1B1B;
	color: white;
}


